In [23]:
import pandas as pd
import numpy as np

In [24]:
df= pd.read_excel('IDF_Step1.xlsx', sheet_name=3)
df.head()

   Year  Precipitation (mm/day) (3 day)
0  1957                       73.500000
1  1958                      107.033333
2  1959                       70.600000
3  1960                        2.733333
4  1961                      105.733333

In [25]:
df1 = df.sort_values(by='Precipitation (mm/day) (3 day)', ascending=False)
df1

    Year  Precipitation (mm/day) (3 day)
15  1972                      212.666667
36  1993                      211.666667
27  1984                      211.666667
31  1988                      205.500000
30  1987                      195.133333
..   ...                             ...
54  2011                       80.333333
64  2021                       74.000000
0   1957                       73.500000
2   1959                       70.600000
3   1960                        2.733333

[66 rows x 2 columns]

In [26]:
df1.to_excel("decending_max3.xlsx")